<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Study more course and to be professional</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add New Course</a>
</div>
<h1>Hello sam!!!</h1>